---
title: Gamma
tags:
- ss
- extra-medium
- ll
description: This is content from the description property in the YFM of <%= title %>
---
This is content from {{title}}, which should be inserted.
<p>{{description}}</p>
