---
title: Gamma post
tags:
- blue
- green
- red
description: This is content from the description property in the YFM of <%= title %>
---
This is the {{title}}, which should be inserted in the composed result.
<p>{{description}}</p>
