{{#prettify}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container bs-docs-container">
    {{#markdown}}
      {{> body }}
    {{/markdown}}
    </div>
  </body>
</html>
{{/prettify}}