---
title: Compose. Options hash cwd
name: Compose. Options hash cwd
---
<!-- post -->
{{#compose 'post-*.md' cwd="test/fixtures/posts"}}
<article class="post">
  <h1>{{blog.title}}</h1>
  <h2>Post title: {{title}}</h2>

  <!-- Content -->
  <p>Post {{{content}}}</p>
  {{> alert alert.success }}

  <!-- Tags -->
  <ul class="tags">
    {{#tags}}
      <li>{{.}}</li>
    {{/tags}}
  </ul>
</article>
{{/compose}}

{{> alert alert.default }}