---
title: <%= book.title %>
chapter: 1
intro: Chapter <%= chapter %>

tags:
- hij
- lmn
- opq
---
<h1>Content from {{title}}</h1>
<p class="intro">{{intro}}</p>
<p class="chapter">Chapter: {{chapter}}</p>